* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Microsoft YaHei";
}

html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #0c0d1f;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none
}

.fireworks {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
}


/****************** app *****************/

#map {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    /*background-image: url("../images/map.png");*/
}


/****************** head *****************/

.head {
    position: absolute;
    top: 0;
    z-index: 100;
    display: flex;
    width: 100%;
    background-image: url("../images/head.png");
    padding-left: 68px;
    cursor: pointer;
}

.title {
    font-size: 34px;
    color: white;
    font-weight: bold;
    line-height: 1.882;
}


/****************** nav *****************/

.nav {
    display: flex;
    margin-left: 50px;
    align-self: flex-end;
}

ul.nav > li {
    margin-right: -5px;
    width: 140px;
    height: 50px;
    background-image: url("../images/tab_normal.png");
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

ul.nav > li.active,
ul.nav > li:hover {
    background-image: url("../images/tab_selected.png");
}

ul.nav > li > a {
    font-size: 20px;
    color: rgb(87, 249, 255);
    font-weight: bold;
    line-height: 3.2;
}

ul.nav > li.active > a,
ul.nav > li:hover > a {
    font-size: 20px;
    color: rgb(180, 212, 255);
    font-weight: bold;
    line-height: 3.2;
}


/****************** panel *****************/

.left,
.right {
    position: absolute;
    z-index: 100;
    margin-top: 80px;
    height: 960px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.left {
    left: 5px;
}

.right {
    right: 5px;
}

.left.ng-enter {
    animation: slideInLeft 0.3s ease-in;
}

.left.ng-leave {
    animation: slideOutLeft 0.3s ease-in;
}

.right.ng-enter {
    animation: slideInRight 0.3s ease-in;
}

.right.ng-leave {
    animation: slideOutRight 0.3s ease-in;
}


/* slide in from the left */

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}


/* slide out to the left */

@keyframes slideOutLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}


/* slide out to the right */

@keyframes slideOutRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}


/* slide in from the right */

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}


/****************** fire *****************/

.watcher {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 324px;
    width: 424px;
    align-items: center;
    justify-content: center;
    clip-path: url("#svgPath");
}

.watcher:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    height: 100%;
    width: 100%;
    background: url("../images/bg1.png") no-repeat;
    pointer-events: none;
}

.watcher > .video {
    position: absolute;
    width: 100%;
    z-index: -10;
    top: 0;
    left: 1px;
}

.watcher > .watcherBg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.watcher > .lvlBar {
    position: absolute;
    height: 30px;
    width: 100%;
    bottom: 52px;
}

.watcher > .lvlBox {
    position: absolute;
    height: 36px;
    width: 100%;
    bottom: 12px;
}


/****************** house *****************/

.house {
    position: relative;
    height: 304px;
    width: 421px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: url("/images/bg2.png");
}

.house > .title {
    position: absolute;
    top: -8px;
    left: 25px;
    font-size: 20px;
    color: rgb(238, 238, 238);
    font-weight: bold;
    line-height: 2.6;
    background-image: -webkit-gradient(linear, 0 0, right 0, from(rgb(45, 247, 255)), to(rgb(254, 255, 210)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.discription {
    display: flex;
    flex-direction: column;
    height: 176px;
    justify-content: space-between;
}

.discription > .line {
    font-size: 14px;
    color: #afc8d9;
}

.line > span {
    color: #eeeeee;
}


/****************** people *****************/

.people {
    position: relative;
    margin-left: -14px;
    height: 312px;
    width: 436px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: url("/images/bg3.png");
}

.people > .title {
    position: absolute;
    top: 5px;
    left: 40px;
    font-size: 20px;
    color: rgb(238, 238, 238);
    font-weight: bold;
    line-height: 2.6;
    background-image: -webkit-gradient(linear, 0 0, right 0, from(rgb(45, 247, 255)), to(rgb(254, 255, 210)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/****************** legend *****************/

.legend {
    height: 185px;
    width: 94px;
    background: url("/images/bg4.png");
}


/****************** clock *****************/

.clock {
    display: flex;
    height: 185px;
    width: 420px;
    background: url("/images/bg5.png");
    justify-content: center;
    align-items: center;
}

.weather-icon {
    margin: 15px;
}

.weather-text {
    margin-top: 38px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.weather-text > .wind {
    font-size: 30px;
    color: rgb(254, 255, 255);
    line-height: 1.067;
}

.weather-text > .temperature {
    font-size: 14px;
    color: #fff36e;
}


/****************** brigade ****************/

.brigade {
    position: relative;
    height: 264px;
    width: 420px;
    background: url("/images/bg6.png");
}

.brigade > .title {
    position: absolute;
    top: 5px;
    left: 20px;
    font-size: 20px;
    color: rgb(238, 238, 238);
    font-weight: bold;
    line-height: 2.6;
    background-image: -webkit-gradient(linear, 0 0, right 0, from(rgb(45, 247, 255)), to(rgb(254, 255, 210)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.brigade-list {
    position: absolute;
    top: 60px;
    left: 30px;
    overflow-x: auto;
    height: 180px;
    width: 360px;
}

.brigade-item {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid rgba(29, 198, 241, 0.2);
}

.brigade-item:last-child {
    border-bottom: none;
}

.brigade-text {
    height: 45px;
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fefefe;
}

.brigade-text-num {
    display: flex;
    align-items: center;
    color: #3ff8fb;
    margin-left: -10px;
}

.brigade-text-num > * {
    margin-left: 8px;
}


/***************** facility ****************/

.facility {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 269px;
    width: 438px;
    background: url("/images/bg7.png");
}

.facility > .title {
    position: absolute;
    top: 5px;
    left: 40px;
    font-size: 20px;
    color: rgb(238, 238, 238);
    font-weight: bold;
    line-height: 2.6;
    background-image: -webkit-gradient(linear, 0 0, right 0, from(rgb(45, 247, 255)), to(rgb(254, 255, 210)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.facility > .area {
    margin-top: 40px;
}


/****************** weibo ***********8******/

.weibo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 244px;
    width: 436px;
    background: url("/images/bg8.png");
}

.weibo-list {
    height: 200px;
    width: 380px;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

.weibo-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(29, 198, 241, 0.2);
}

.weibo-item:last-child {
    border-bottom: none;
}

.weibo-text {
    margin-left: 10px;
    font-size: 12px;
    color: #e9eda8;
}

.weibo-author {
    margin-right: 5px;
}

.weibo-content {
    color: #afc8d9;
}
