* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Microsoft YaHei";
}

html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none
}

/****************** app *****************/

.skin {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
}

#map {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-image: url("../images/map.png");
}

/****************** head *****************/
.head {
    display: flex;
    width: 100%;
    background-image: url("../images/head.png");
    padding-left: 68px;
    cursor: pointer;
}

.title {
    font-size: 34px;
    color: white;
    font-weight: bold;
    line-height: 1.882;
}

/****************** nav *****************/

.nav {
    display: flex;
    margin-left: 50px;
    align-self: flex-end;
}

ul.nav > li {
    margin-right: -5px;
    width: 140px;
    height: 50px;
    background-image: url("../images/tab_normal.png");
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

ul.nav > li.active,
ul.nav > li:hover {
    background-image: url("../images/tab_selected.png");
}

ul.nav > li > a {
    font-size: 20px;
    color: rgb(87, 249, 255);
    font-weight: bold;
    line-height: 3.2;
}

ul.nav > li.active > a,
ul.nav > li:hover > a {
    font-size: 20px;
    color: rgb(180, 212, 255);
    font-weight: bold;
    line-height: 3.2;
}

/****************** fire *****************/

.panel {
    position: relative;
}

.left,
.right {
    position: absolute;
    margin-top: 20px;
    height: 950px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.left.ng-enter {
    animation: slideInLeft 0.5s ease-in;
}

.left.ng-leave {
    animation: slideOutLeft 0.5s ease-in;
}

.right.ng-enter {
    animation: slideInRight 0.5s ease-in;
}

.right.ng-leave {
    animation: slideOutRight 0.5s ease-in;
}

/* slide in from the left */
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

/* slide out to the left */
@keyframes slideOutLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/* slide out to the right */
@keyframes slideOutRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

/* slide in from the right */
@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}